mkdocs
mkdocstrings-python
mkdocs-macros-plugin
mkdocs-glightbox
mkdocs-macros-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-charts-plugin
mkdocs-get-deps
mkdocs-material
mkdocs-material-extensions
mkdocs-redirects
mkdocs-rss-plugin
markdown
pymdown-extensions
python-dateutil
regex
