:root {
    --md-button-color--discord: #5865F2;
    --md-button-color--mastodon: #6364FF;
}

.mdx-container {
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    
    background: linear-gradient(var(--md-primary-fg-color), var(--md-primary-fg-color) 100px, var(--md-default-bg-color) 100px);
    
}

.mdx-container .mdx-hero {
    text-align: center;
}

.mdx-container .mdx-hero img {
    border-radius: 100%;
}

.mdx-container .mdx-hero .mdx-description {
    max-width: 35rem;
    font-size: 1.6rem;
    line-height: 1.3;
}

.mdx-container .mdx-hero .mdx-description,
.mdx-container .mdx-hero .mdx-button {
    margin: 1.8rem auto;
}

.md-typeset .md-button--discord {
    border-color: var(--md-button-color--discord);
    color: var(--md-button-color--discord);
}

.md-typeset .md-button--discord:hover {
    background-color: var(--md-button-color--discord);
    border-color: var(--md-button-color--discord);
}

.md-typeset .md-button--mastodon {
    border-color: var(--md-button-color--mastodon);
    color: var(--md-button-color--mastodon);
}

.md-typeset .md-button--mastodon:hover {
    background-color: var(--md-button-color--mastodon);
    border-color: var(--md-button-color--mastodon);
}